@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif; 
}
body{
    background: url(images/hot.png);
    background-size: cover;
    background-repeat: no-repeat;
}
header 
{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
header .logo 
{
    display: inline-block;
    justify-content: center;
    align-items: center;
    max-width: 120px;
}
.head 
{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
    letter-spacing: 1.5px;
    font-weight: 700;
    font-size: 1.3em;
}
.head  span 
{
    font-size: 1.8em;
    color: orangered;
}
.menu 
{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 1.1em;
    margin: 6px;
    padding-left: 10px;
    text-transform: uppercase;
    margin-bottom: 50px;
}
.menu li 
{
    list-style: none;
    margin: 0 10px;
}
.menu li a 
{
    color: white;
    text-decoration: none;
    font-weight: 500;
    letter-spacing: 1px;
} 
.menu li a:hover 
{
    color: orangered;
}
.banner
{
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 0 100px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    
}
.about
{
    display: flex;
    text-align: center;
    width: auto;
    justify-content: center;
    flex-wrap: wrap;
}
.about .about_content
{
    background: rgba(255, 255, 255, 0.452);
    margin: 5px;
    margin-bottom: 60px;
    font-family: 'Poppins', sans-serif;
    font-weight: 100px;
    width: 300px;
    padding: 20px;
    line-height: 20px;
    color: #1d1c1c;
    position: relative;
}
.about .about_content h3{
    color: #4c8f11;
    font-size: 26px;
    margin-top: 30px;
}
.about .about_content .about_img{
    width: 100px;
    height: 100px;
    border-radius: 60%;
    position: relative;
    top: -10px;
    left: 50%;
    transform: translateX(-50%);
    background: white;

}
.about .about_content .about_img img
{
 width: 100%;
 height: 100px;
 padding: 10px;
 border-bottom-left-radius: 50%;
 border-bottom-right-radius: 50%;
 border-top-left-radius: 50%;
 border-top-right-radius: 50%;
}
.about .about_content p li
{
    display: inline-block;
    justify-content: start;
}
.details
{
    width: 100%;
    min-height: 2vh;
}
.details ul, .details li, .details li a
{
 display: flex;
 text-decoration: none;
 justify-content: center;
 align-items: center;
 list-style: none;
 font-weight: 700;
 letter-spacing: 1px;
 font-size: 1em;
 margin: 0 5px 0 2px;
 color: rgba(253, 251, 251, 0.815);
 bottom: 5px;
}